@model Assignment01_Receipes.Models.Recipe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Recipe</title>

</head>
<body>
    <form asp-action="AddRecipe" method="Post">
        <div>
            <label asp-for="Name">Name: </label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Description">Description: </label>
            <textarea asp-for="Description"></textarea>
        </div>
        
        <div>
            <button type="submit">Add me</button>
        </div>
        <div><a asp-action="Index">Back to home page</a></div>
    </form>
</body>
</html>
