@model Assignment01_Receipes.Models.Recipe
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Add Recipe";
}
<!DOCTYPE html>

<div class="panel panel-success">
    <div class="panel-body">
        <form asp-action="AddRecipe" method="Post">
            @await Html.PartialAsync("AddRecipeView")
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Add me</button>
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-primary" asp-action="Index">Cancel</button>
            </div>        
        </form>
    </div>
</div>