@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>


    <h1>Recipes Page</h1>

    <h3><a asp-action="RecipeList" class="nav-link">List of Recipe</a></h3> 
    <h3><a asp-action="AddRecipe" class="nav-link">Add Recipe</a></h3>
