
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recipe List</title>

</head>
<body>
    <h1>List of Recipe</h1>
    <a asp-action="AddRecipe" > Click here to add recipe</a>
</body>
</html>
