@model IEnumerable<Recipe>
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Recipe List";
}
<h1 class="text-center">List of Recipe</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Give Feedback</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Assignment01_Receipes.Models.Recipe r in Model)
        {
            @await Html.PartialAsync("RecipeSummary",r)
        }
    </tbody>
</table>
<a asp-action="Index">Back</a>
