@model  Assignment01_Receipes.Models.Recipe
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Recipe</title>

</head>
<body>
    <p>Please give feedback for below:</p>
    <textarea></textarea>
    <button>Submit</button>
              
</body>
</html>
