@model Recipe
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Review Recipe";
}
<!DOCTYPE html>
<div class="text-center">
    <h2>Please give feedback for @Model.Name  below:</h2>
    <textarea></textarea><br />
    <button class="btn btn-primary">Submit</button>
</div>
<p><a asp-action="RecipeList">Click here to back Recipe List</a></p>
