@model  Assignment01_Receipes.Models.Recipe
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Recipe</title>
</head>
<body>
    <p>Description of @Model.Name </p>
           
    <a asp-action="RecipeList">Click</a> here to back to Recipe List.

</body>
</html>
