@model Recipe
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Add Recipe";
}
<!DOCTYPE html>
<h1> Add a Recipe</h1>
            <form asp-action="AddRecipe" method="Post">
                <table>
                    @await Html.PartialAsync("AddRecipeView")
                </table>
             
                
                    <button class="btn btn-primary" type="submit">Add me</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-primary" asp-action="Index">Cancel</button>
               
            </form>
    