@model Recipe
@{
    ViewBag.Title = "Update Recipe";
    Layout = "_AdminLayout";
}
<form asp-action="Edit" method="post">
    
    @await Html.PartialAsync("AddRecipeView")
  
    <div>       
        <a asp-action="AddCookingStep" asp-route-id="@Model.Id">Add Cooking Step</a>
        <button type="submit">Save</button>
        <a asp-action="RecipePage">Cancel</a>
    </div>
</form>
