@model Recipe
<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="Id" />
<div >
    <div >
        <label asp-for="Name">Name: </label>
    </div><div >
        <input asp-for="Name" />
    </div>
</div>
<div>
    <div>
        <label asp-for="Ingredient">Ingredient: </label>
    </div><div>
        <textarea asp-for="Ingredient"></textarea>
    </div>
</div>
<div>
    <div>
        <label>Cooking Step:</label>
    </div><div>
              <textarea>
           @{ 
               if(Model != null && Model.CookingSteps != null)
               {
                   foreach (CookingStep item in Model.CookingSteps)
                   {
                        @:@item.description
                   }
               }
           }
          </textarea>
    </div>
    <div>
    </div>
</div>

